// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* classi utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.container{
    padding: 0;
}

.d-flex{
    display: flex;
}

body{
    background-color: white;
}

/* navbar */

nav{
    border-bottom: 1px solid black;

    .navbar_top{
        background-color: $DCBlue;
        justify-content: flex-end;
        align-items: center;

        ul{
            list-style: none;
            margin-bottom: 0;

            li{
                min-width: 160px;
                height: 100%;
                display: flex;
                justify-content: center;
                padding: 5px 0;

                &:hover{
                    background-color: #3797F6;
                }
            }

            #dc-navbar{
                background-color: white;
            }
            
            a{
                width: fit-content;
                display: flex;
                justify-content: center;
                text-decoration: none;
                margin-left: 5px;
            }
        }
    }

    .navbar_bottom{

        .container{

            .navbar_bottom_left{
                min-width: 10%;
                align-items: center;
                img{
                    height: 70px;
                }
            }

            .navbar_bottom_center{
                font-size: 1.2rem;
                min-width: 70%;
                height: fit-content;
                padding: 40px 0 0 0;
                justify-content: center;

                ul{
                    list-style: none;
                    margin-bottom: 0;
                    align-items: center;

                    li{
                        position: relative;
                        margin: 0 15px;
                        padding-bottom: 40px;
                    }

                    li:hover:after{
                        background-color:#0282F9;
                        bottom:0;
                        content: '';
                        display:block;
                        height:5px;
                        position:absolute;
                        transform-origin: bottom;
                        transition-duration: 1;
                        width:100%;
                    }
                
                    a{
                        color: black;
                        font-weight: 700;
                        text-decoration: none;
                    }

                    li:hover a{
                        color: #0282F9;
                    }
                }
            }

            .navbar_bottom_right{
                min-width: 20%;
                justify-content: flex-end;
                align-items: center;

                input{
                    border: none;
                    margin-right: 5px;

                    &:focus{
                        border: none;
                        outline: none;
                    }
                }

                .input_nav_field{
                    border-bottom: 3px solid $DCBlue;
                }

                input[type="text"]::-webkit-input-placeholder {
                    font-weight: 700;
                    color: black;
                    font-size: 19px;
                }
            }
        }
    }
}

main{

    .comics-graphics{
        width: 100%;
        margin-top: 60px;
        padding: 70px 0;
        background-color: #1C1C1C;
        justify-content: center;
        position: relative;

        .comics-graphics-title{
            position: absolute;
            transform: translate(-90%, -165%);
            padding: 5px;
            color: white;
            background-color: $DCBlue;

            h1{font-weight: 700;}
        }

        .comics-card-container{
            margin: 0 10px;

            .comics-card{
                position: relative;

                .comic_type{
                    position: absolute;
                    padding: 3px;
                    background-color: $DCBlue;
                    h5{margin: 0;}
                }

                img {margin-bottom: 10px;}
                #available_comics {color: $DCBlue;}
                h5 {color: white}
            }
        }
    }

    .single-product{
        .cover_jumbotron{
            width: 100%;
            height: 500px;
            background-repeat: no-repeat;
            background-attachment:fixed;
            background-size:cover;
            position: relative;
        }

        .cover_image{
            .cover_image_footer{
                height: 100px;
                background-color: $DCBlue;

                img{
                    height: 400px;
                    position: absolute;
                    transform: translateY(-85%);
                    border: 1px solid white;
                }
            }
        }

        .single_comic_info{

            .single_comic_title_price_desc{
                margin: 70px 0;

                h1{font-weight: 700;}

                .price_available{
                    margin: 40px 0;
                    font-size: 1.3rem;
                    width: 60%;
                    padding: 10px 20px;
                    background-color: #55BA59;
                    justify-content: space-between;
                }

                p{font-size: 1.5rem;}
            }

            .single_comic_talent_spec{
                background-color: #F6F6F6;
                padding: 60px 0 120px 0;

                .single_comic_talent, .single_comic_specs{
                    margin-right: 20px;
                    width: 50%;
                    font-size: 1.1rem;

                    strong{
                        display: inline-block;
                        min-width: 50%;
                    }

                    .spec_row{
                        padding: 10px 0;
                        border-top: 1px solid #ffffff;
                        border-bottom: 1px solid #e3e3e3;
                    }
                    
                    
                }
            }
            
        }
    }
}

/* FOOTER */
footer{

    .footer-top{
        background-color: $DCBlue;
        padding: 30px 0;

        ul{
            list-style: none;
            margin-bottom: 0;
            justify-content: center;

            li{
                margin: 0 35px;
            }
            
            img{
                height: 50px;
            }
        
            a{
                min-height: 100%;
                font-size: 0.7rem;
                color: white;
                text-decoration: none;
                padding: 0 15px;
            }
        }
    }

    .footer-center{
        max-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;

        .container{
            height: 100%;
            

            .footer-center-left{
                width: 50%;
                color: white;

                div{
                    margin-right: 30px;
                }

                ul{
                    list-style: none;
                    margin-bottom: 0;
                }

                a{
                    text-decoration: none;
                    color: #959595;

                    &:hover{
                        color: $DCBlue;
                    }
                }
            }

            .footer-center-right{
                width: 50%;
                min-height: 100%;
                background-position: center;
                background-position: right;
                background-repeat: no-repeat;
                background-size: 80%;
            }
        }

        
    }

    .footer-bottom{
        background-color: #232323;
        padding: 20px 0;

        .container{
            justify-content: space-between;
            align-items: center;

            #sign_up{
                padding: 10px 20px;
                color: white;
                border: 2px solid $DCBlue;

                &:hover{
                    background-color: $DCBlue;
                }
            }

            a{
                height: fit-content;
            }

            .follow-footer{                
                align-items: center;

                a{
                    text-decoration: none;
                    color: $DCBlue;
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                i{
                    padding: 6px;
                    font-size: 1.5rem;
                    align-items: center;
                    border-radius: 50%;
                    background-color: grey;
                    margin: 0 5px;
                }
            }
        }

    }
}
