// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* classi utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

/* navbar */

nav{
    .navbar_top{
        background-color: $DCBlue;
        padding: 5px 0;
        justify-content: flex-end;
        align-items: center;

        ul{
            list-style: none;
            margin-bottom: 0;
        
            a{
                text-decoration: none;
                color: white;
                margin-left: 5px;
                padding: 0 30px;
            }
        }
    }

    .navbar_bottom{
        padding: 20px 0;
        .container{

            .navbar_bottom_left{
                min-width: 10%;
                img{
                    height: 70px;
                }
            }

            .navbar_bottom_center{
                min-width: 70%;
                justify-content: center;
                align-items: center;

                ul{
                    list-style: none;
                    margin-bottom: 0;
                
                    a{
                        text-decoration: none;
                        padding: 0 15px;
                    }
                }
            }

            .navbar_bottom_right{
                min-width: 20%;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

/* FOOTER */
footer{
    .footer-top{
        background-color: $DCBlue;
        padding: 30px 0;

        ul{
            list-style: none;
            margin-bottom: 0;
            justify-content: center;
        
            a{
                color: white;
                text-decoration: none;
                padding: 0 15px;
            }
        }
    }
}
